on:
  workflow_call:
    inputs:
      node_version:
        required: true
        type: string
jobs:
  ci:
    name: Node ${{ inputs.node_version }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Use Node ${{ inputs.node_version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: ${{ inputs.node_version }}
    - name: Install
      run: yarn install --immutable
    - name: Build
      run: yarn build
    - name: Types
      run: yarn code:types            
    - name: Test
      run: yarn test
